@media (max-width: 1024px) {
    .menu_bar{
        display: block;
    }
    .main_ul{
        display: none;
    }
    .main_info{
        width: 40%;
    }
    .play_outer{
        position: absolute;
        top: 22%;
        left: 42%;
    }
    .sidebar{
        position: fixed;
        top: 0;
    }
    .services_offered{
        padding: 0;
    }
    .services_provide .container .row{
        margin-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .input_box{
        padding: 0;
    }
    .input_box input{
        width: 79%;
    }
    .counter{
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .main_section{

    }
    .about_us_image img{
        padding-top: 20px;
    }
    .call_us .call_info button{
        width: 50%;
    }
    .pricing_plans{
        margin-bottom: 20px;
    }
    .experts_info .testimonial_details{
        line-height: 23px;
    }
    .main_image img {
        padding: 0;
    }
    .testimonial_image{
        width: 20%;
        margin-left: calc(50% - 10%);
    }
    .play_outer{
        position: absolute;
        top: 40%;
        left: 45%;
    }
    .footer_heads{
        padding-top: 30px;
    }
    /* .services_para_img{
        padding-top: 0;
    } */
}

@media (max-width: 425px) {
    .main_info{
        width: 100%;
    }
    nav{
        padding: 0px 20px;
    }
    .input_box{
        padding: 0 10px;
    }
    .counter{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: 10%;
    }
    .call_us .call_info button{
        width: 80%;
    }
    .faq_main .services_heading{
        text-align: center;
    }
    .services_heading h2::before{
        content: "";
        position: absolute;
        top: 55px;
        left: 43%;
        background-color: var(--secondary-color);
        width: 15%;
        height: 3px;
    }
    .faq_main .services_heading h2::before{
        content: "";
        position: absolute;
        top: 60px;
        left: 43%;
        background-color: var(--secondary-color);
        width: 15%;
        height: 3px;
    }
    .testimonial_image{
        width: 30%;
        margin-left: calc(50% - 15%);
    }
    .play_outer{
        position: absolute;
        top: 38%;
        left: 42%;
    }
    .footer_heads{
        padding-top: 30px;
    }
    nav.sticky{
        padding: 0px 20px;
        height: 60px;
    }
    nav h1{
        font-size: 20px;
    }
}   
@media (max-width: 375px) {
    .call_main{
        width: 100%;
        /* height: 600px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .call_info{
        width: 100%;
        margin: 40px 0px;
    }
    .play_outer{
        position: absolute;
        top: 36%;
        left: 40%;
    }
}
@media  (max-width: 320px) {
    .input_box{
        height: 65px;
    }
    .input_box button{
        height: 50px;
    }
    .counter{
      margin: 10%;
      padding: 20px 0px;
    }
    .play_outer{
        position: absolute;
        top: 34%;
        left: 38%;
    }
    .call_us .call_main .call_info{
        width: 80%;
    }
    .footer_copyrights{
        line-height: 10px;
    }
    .footer_copyrights{
        font-size: 13px;
    }
}





/* ========================================== GET A QUOTE =========================================== */

@media (max-width: 1024px)  {
    .quote_img img{
        height: 100vh;
    }
    .quote_inputs input{
        margin-right: 20px;
    }
}
@media (max-width: 425px)  {
    .quote_inputs input{
        width: 100%;
    }
    .quote_button button{
        width: 40%;
    }
}
@media (max-width: 425px)  {
    .quote_inputs input{
        width: 100%;
    }
    .quote_button button{
        width: 50%;
    }
}
@media (max-width: 425px)  {
    .quote_inputs input{
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
    }
    .details_inputs input{
        width: 100%;
        margin-bottom: 7%;
        height: 40px;
    }
}

/* ========================================== SERVICE DETAILS =========================================== */

@media (max-width: 768px)  {
    .our_services{
        margin-top: -60px;
    }
}

@media  (max-width: 576px) {
    .main_section .input_box{
        padding: 0px 10px;
    }
}