:root {
    --primary-color: rgb(52, 0, 80);
    --border-color: rgb(220, 220, 220);
    --blue-main: rgb(78, 19, 195);
    --light-blue: rgb(119, 190, 249);
    --dark-grey: grey;
    --light-grey: #c2c4c7;
    --green-color: rgb(62, 211, 132);
    --black-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #E7E9ED;
}

aside {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 14%;
    background-color: #161C2D;
    height: 98vh;
    border-radius: 7px;
    margin: 8px;
    padding: 8px 10px;
}

.main_links {
    overflow: auto;
    height: 80vh;
}

.logo {
    display: flex;
}

.logo_icon {
    /* width: 49px;
    height: 40px; */
    background-image: url('c:/Users/dell/Downloads/psychedelic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    /* margin-top: 3px; */
}

.logo img {
    width: 30px;
    /* height: 20px; */
    /* margin-left: 10px;
    margin-top: 10px; */
}

.logo a {
    /* width: 180px; */
    text-decoration: none;
    color: #fff;
    line-height: 18px;
    padding-left: 4px;
}

.logo a h6 {
    font-size: 12px;
    font-weight: 400;
}

.logo a span {
    color: #ffffff7e;
    font-size: 11px;
}

.create_sales {
    width: 100%;
    height: 28px;
    background-color: #c2c4c7;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 27px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

.create_sales i {
    padding-right: 5px;
    /* font-size: 10px; */
}

.create_sales .down {
    width: 34px;
    height: 28px;
    background-color: #e4e5e8;
    text-align: center;
    font-size: 13px;
    padding-top: 7px;
    padding-right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding: 13px 0; */
}

ul li {
    list-style: none;
}

.main_links li h6 {
    font-size: 9px;
    color: var(--light-grey);
    font-weight: 700;
    padding-left: 5px;
}

ul li>a {
    text-decoration: none;
    color: #ffffff7e;
    font-size: 12px;
}

.main_links li i {
    padding-right: 10px;
}

.child_links {
    width: 100%;
    padding: 0;
    margin: 0;
}

.child_links li {
    width: 100%;
    line-height: 34px;
    /* padding: 8px 0; */
    /* margin-left: -40px; */
}

.child_links li a {
    padding: 0 10px;
    font-weight: 500;
    /* border-radius: 20px; */
}

.child_links li:hover {
    background-color: #2a4166;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.child_links li:hover a {
    color: #fff;
    font-weight: 600;
}

.child_links .active {
    width: 100%;
    color: #fff;
    background-color: #2a4166;
    padding: 0 10px;
    border-radius: 20px;
}

.child_links li a .fa-angle-right {
    float: right;
    padding-top: 13px;
    padding-right: 13px;
}

.scroll_options {
    background-color: #161C2D;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 7px 0;
}

.scroll_options span {
    font-size: 10px;
    background-color: var(--dark-grey);
    border-radius: 20px;
    padding: 3px 13px;
    text-align: center;
    color: white;
    margin-left: 35px;
}

.scroll_options i {
    font-size: 9px;
}

.sidebar_bottom {
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #1e2a48;
}

.sidebar_bottom .child_links {
    padding-left: 8px;
}


.sidebar_bottom ul li:hover {
    background-color: #1e2a48;
}

.side_end {
    text-align: center;
    padding-top: 10px;
}

.side_end i {
    padding-right: 4px;
}

.side_end span {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 9px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
    width: 50px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
}

.parties {
    width: 100%;
    height: 98vh;
    margin: 8px 8px 4px 230px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #55555560;
}

.parties_names .persons_box {
    height: 89vh;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 0 5px;
}

.parties_names {
    width: 350px;
    padding: 15px 15px;
    border-radius: 10px;
}

.parties .search {
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

#search {
    margin-left: 0;
    padding: 0 40px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 40px;
    margin-top: -2px;
    font-size: 13px;
    border: 1px solid #55555560;
}

input:focus {
    outline: none;
}

.glass {
    position: absolute;
    left: 18px;
    top: 12px;
    color: #555555a6;
}

.person {
    width: 100%;
    height: 65px;
    border: 1px solid #55555560;
    border-radius: 10px;
    margin: 17px 0;
    padding: 15px 0 15px 10px;
    transition: ease-in-out 0.3s;
}

.person_info h6,
span {
    font-size: 11px;
    color: #161C2D;
    opacity: 80%;
    font-weight: 700;
}

.person:hover {
    background-color: #161c2d3a;
    cursor: pointer;
}

.person_data {
    width: 100%;
    padding: 15px 15px;
    border-left: 1px solid #55555560;
}

.name_header .name {
    width: 100%;
}

.name_header .name .arrow_left {
    font-size: 20px;
    margin-top: 11px;
    color: black;
}

.name_header .name h3 {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 11px;
    font-weight: 700;
}

.create_box {
    width: 38%;
    position: relative;
    margin-bottom: 2px;
}

.create_box #search {
    font-size: 13px;
    font-weight: 500;
}

.report {
    position: absolute;
    left: 18px;
    top: 10px;
    color: #555;
}

.create_box .down {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #e7e9ed70;
    text-align: center;
    padding: 13px 0;
    right: 0;
    top: -2px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.editing_box {
    position: relative;
    top: 6px;
}

.editing_box::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 40px;
    border: 1px solid #55555560;
    left: -24px;
    top: 0px;
}

.editing_box .edit {
    width: 60px;
}

.editing_box .top_btns {
    background-color: transparent;
    color: #555555a6;
    font-weight: 500;
    height: 36px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid lightgray;
}

.head_link {
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #55555560;
}

.head_link li {
    padding: 10px 7px;
}

.head_link li a {
    color: #555;
    font-size: 13px;
    font-weight: 600;
}

.head_link .active {
    color: blueviolet;
    text-decoration: underline blueviolet 2px;
    text-underline-offset: 15px;
}

.head_link li:hover a {
    color: blueviolet;
}

.head_link li:first-child {
    position: relative;
}

.head_link li:first-child::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: transparent;
    bottom: -1px;
    left: 0;
}

.head_link li:nth-child(2) {
    position: relative;
}

.head_link li:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: transparent;
    bottom: -1px;
    left: 7px;
}

.head_link li:nth-child(3) {
    position: relative;
}

.head_link li:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 2px;
    background-color: transparent;
    bottom: -1px;
    left: 7px;
}

.head_link li:last-child {
    position: relative;
}

.head_link li:last-child::after {
    position: absolute;
    content: "";
    width: 124px;
    height: 2px;
    background-color: transparent;
    bottom: -1px;
    left: 7px;
}

.head_link li:hover::after {
    background-color: blueviolet;
}

/* ============================================= SELECT ============================================= */

.date_box {
    width: 100%;
    position: relative;
}

.calendar {
    position: absolute;
    width: 100%;
}

.date_box {
    width: 75%;
    position: relative;
}

#date {
    width: 90%;
    font-size: 13px;
    font-weight: 500;
}

.calendar {
    position: absolute;
    left: 18px;
    top: 7px;
    color: #555555a6;
}

.date_box .down {
    position: absolute;
    width: 40px;
    height: 40px;
    color: #55555580;
    text-align: center;
    padding: 11px 0;
    right: 10%;
    top: -1px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.select_box {
    width: 70%;
    position: relative;
    font-size: 13px;
}

#select {
    width: 100%;
    height: 40px;
    position: absolute;
    top: -2px;
    padding: 0 10px;
    color: #555555a6;
    border: 1px solid #55555580;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

#select:focus {
    outline: none;
}

.tabular_data {
    width: 97%;
    overflow: auto;
    padding: 0;
}

.card {
    margin-left: 12px;
}

table {
    width: 100%;
    border: none;
}

table tr th {
    border-right: 1px solid #E7E9ED;
    font-size: 13px;
    padding: 0.5rem 1rem;
    background-color: #e7e9ed80;
    position: relative;
    font-size: 12px;
}

table tr td {
    border-right: 1px solid #E7E9ED;
    color: rgb(99, 99, 99);
    font-size: 13px;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

th .fa-angle-up {
    position: absolute;
    right: 50%;
    cursor: pointer;
}

th .fa-angle-down {
    position: absolute;
    right: 50%;
    top: 45%;
    cursor: pointer;
}

td span {
    background-color: rgba(255, 255, 0, 0.548);
    padding: 3px 5px;
    border-radius: 7px;
    color: goldenrod;
}