@media (max-width:1024px) {
    .opening_image img {
        width: 100%;
        margin: 1rem 0;
    }

    .sections .sections_heading {
        width: 100%;
        margin-left: calc(50% - 50%);
    }
}


@media (max-width:768px) {
    .jobs_outer {
        margin: 4rem 0;
    }
}


@media (max-width:426px) {
    .opening_image i {
        padding: 1.5rem;
        width: 65px;
        padding-left: 1.7rem;
    }

    .contact_info_main {
        display: flex;
        gap: 1.5rem;
        padding-bottom: 0;
    }

    .contact_us_info h2 {
        font-size: 22px;
        padding: 0;
    }

    .contact_us_info .main_para {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 26px;
    }

    .jobs_outer .job_blocks {
        padding: 1rem 2rem;
    }

    .jobs_outer .job_blocks h2 {
        font-size: 22px;
        line-height: 34px;
    }

    .jobs_outer .job_blocks .main_para {
        font-size: 14px;
        line-height: 29px;
    }

    .jobs_outer .job_blocks i {
        font-size: 22px;
    }
}

@media (max-width:426px) {
    .jobs_outer .job_blocks {
        padding: 1rem 1rem;
    }
}