* {
    margin: 0;
    padding: 0;
}

.bg_overlay {
    background-color: rgba(0, 0, 0, 0.695);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    /* display: none; */
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_links {
    list-style: none;
    display: flex;
    padding-top: 10px;
}

.main_links li {
    padding: 10px 15px;
}

.main_links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

li:first-child {
    border-left: 1px solid #55555560;
}

.talk_to_sales {
    width: 130px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    cursor: pointer;
}

.login {
    width: 130px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}


/* ============================================= LOGIN ============================================= */

.login_main {
    width: 450px;
    height: 100vh;
    background-color: #E7E9ED;
    padding: 10px;
    top: 0;
    right: 0;
    position: fixed;
    /* display: none; */
    z-index: 100;
}

.login_box {
    height: 94vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: auto;
    overflow: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login_box label {
    font-size: 13px;
    color: #161C2D;
    opacity: 65%;
    font-weight: 500;
}

.login_box .heading i {
    font-size: 20px;
    font-weight: 600;
}

.qr_points li{
    list-style: none;
    line-height: 40px;
    color: grey;
    font-size: 13px;
}

.qr_points li span{
    color: black;
    font-weight: 600;
}

.qr_points li i{
    font-size: 16px;
    font-weight: 700;
    color: #36319a;
}

input {
    width: 100%;
    height: 40px;
    padding: 0 0 2px 50px;
    border: 1px solid #55555560;
    border-radius: 4px;
    outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.OTP_btn {
    width: 100%;
    height: 40px;
    border: 1px solid #55555560;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #161c2d77;
    color: #161C2d77;
    font-weight: 500;
    font-size: 14px;
}

.get_btns .username_btn {
    background-color: #36319a;
}

.get_btns p {
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: #fff;
    color: #444;
    font-weight: 500;
    text-align: center;
    padding: 3px 0;
    margin-left: 45%;
    position: relative;
}

.get_btns p::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 1px;
    background-color: #55555536;
    bottom: 13px;
    left: -145px;
}

.get_btns p::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 1px;
    background-color: #55555536;
    bottom: 13px;
    right: -145px;
}

.QR_code {
    width: 100%;
    height: 40px;
    border: 1px solid #55555560;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-top: 25px;
}

.footer {
    position: absolute;
    bottom: 70px;
    font-weight: 500;
    padding-left: 25px;
}

.footer i {
    color: royalblue;
    font-weight: 600;
    font-size: 18px;

}

.footer p {
    margin: 0;
}

.iso {
    position: relative;
}

.iso::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 40px;
    background-color: #55555560;
    left: -10px;
    top: -8px;
}

.close {
    cursor: pointer;
}