<html lang="en">

<head>
    <%- include('globals/head') %>
</head>

<body>

    <%- include('globals/navbar') %>


        <!-- ============================================= FORM ============================================= -->

        <section class="reg_form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main_form">
                            <div class="form_head">
                                <h1>Registration Form</h1>
                            </div>
                            <form action="">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input_fields">
                                            <label for="text">Enter your name</label>
                                            <input type="text" name="name" placeholder="Your name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input_fields">
                                            <label for="text">Enter your Contact</label>
                                            <input type="number" name="name" placeholder="Contact number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input_fields">
                                            <label for="text">Enter your Email</label>
                                            <input type="email" name="name" placeholder="Your email">

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input_fields">
                                            <label for="text">Enter your Course</label>
                                            <input type="text" name="name" placeholder="Course Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button>
                                            <% xyz.forEach((xy)=> { %>
                                                <a href="<%- xy.link %>">Find University</a>
                                                <% }) %>

                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>