<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="services.css">
    <%- include('globals/header') %>
</head>

<body>
    <%- include('globals/navbar2') %>

        <!-- ============================================= SIDEBAR ============================================= -->

        <%- include('globals/sidebar') %>

            <!-- ============================================= MAIN SECTION ============================================= -->

            <main>
                <section class="about_section sections">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <div class="main_head">
                                    <h1>SERVICES</h1>
                                    <p>At Beco, our team thrives on collaboration and a shared commitment to delivering
                                        outstanding results for our clients. We are more than consultants.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- ============================================= SERVICES ============================================= -->

            <section class="best_services sections">
                <div class="container">
                    <div class="row d-lg-flex d-sm-block  align-items-center ">
                        <div class="col-lg-6 col-sm-12">
                            <span class="info_head">SERVICES</span>
                            <h2 class="head_styling">What we Offer</h2>
                        </div>
                        <div class="col-lg-6 col-sm-12 d-sm-block ">
                            <button class="secondary_btn services_btn">View All</button>
                        </div>
                    </div>
                </div>
            </section>